/* Variables */
:root {
  --main-background-color: #fff;

  --hero-bg-color: #2f303a;
  --button-bg-color: #2196f3;
  --sectionwork-bg-color: #f5f5f5;
  --sectionteam-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;

  --accent-color: #2196f3;

  --main-font-color: #212121;
  --headadd-font-color: #757575;
  --secondary-font-color: #fff;
  --logo-font-color: #000000;
  --add-ml-color: rgba(255, 255, 255, 0.6);
}
/* Global styles */
.page {
  background-color: var(--main-background-color);
  color: var(--main-font-color);

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.ul {
  list-style-type: none;
}
.link {
  color: var(--main-font-color);
  text-decoration: none;
  /* text-emphasis: none; */
  font-weight: 500;
  /* font-size: 14px; */
  line-height: 1.143;
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* Design */
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;

  color: var(--logo-font-color);
}
.accent {
  color: var(--accent-color);
}
.dh-navi:hover,
:focus {
  /* color: var(--main-font-color); */
  color: var(--accent-color);
}
.dh-add {
  color: var(--headadd-font-color);
}
.dh-add:hover,
:focus {
  color: var(--accent-color);
}
.hero {
  background-color: var(--hero-bg-color);
  color: var(--secondary-font-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-button {
  background-color: var(--button-bg-color);
  color: var(--secondary-font-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  cursor: pointer;
}
.features-title {
  /* color: var(--main-font-color); */
  text-transform: uppercase;
  font-weight: 700;
  /* font-size: 14px; */
  line-height: 1.143;
  letter-spacing: 0.03em;
}
.features-text {
  color: var(--headadd-font-color);
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.work-title {
  /* background-color: var(--sectionwork-bg-color); */
  /* color: var(--main-font-color); */
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}
.team {
  background-color: var(--sectionteam-bg-color);
}
.team-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}
.name-title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
}
.team-text {
  color: var(--headadd-font-color);

  text-align: center;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
}
.df {
  background-color: var(--footer-bg-color);
  /* color: var(--secondary-font-color); */
}
.logo-footer {
  color: var(--secondary-font-color);

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.addr-map {
  color: var(--secondary-font-color);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  /* font-size: 14px; */
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.addr-mail,
.addr-tel {
  color: var(--add-ml-color);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  /* font-size: 14px; */
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.addr-mail:hover,
:focus,
.addr-tel:hover,
:focus,
.addr-map:hover,
:focus {
  color: var(--accent-color);
}
.portfolio-button {
  /* color: var(--main-font-color); */
  background-color: var(--sectionteam-bg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;
}
.portfolio-button:hover,
:focus {
  background-color: var(--button-bg-color);
  color: var(--secondary-font-color);
}
.porfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  color: var(--headadd-font-color);

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.current {
  color: var(--accent-color);
}
